<a href="https://colab.research.google.com/github/Thewaiii/BSC_DPDM23/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data_65=pd.read_excel("/content/drive/MyDrive/BSC-dpdm23_flie/project/accidentmonth.xlsx")
data_64=pd.read_excel("/content/drive/MyDrive/BSC-dpdm23_flie/project/kh-muul-ubatiehtubnthaangphiess-piingbpramaan-2564-t-kh-63-k-y-64.xlsx")
data_63=pd.read_excel("/content/drive/MyDrive/BSC-dpdm23_flie/project/kh-muul-ubatiehtubnthaangphiess-piingbpramaan-2563-t-kh-62-k-y-63.xlsx")
data_62=pd.read_excel("/content/drive/MyDrive/BSC-dpdm23_flie/project/kh-muul-ubatiehtubnthaangphiess-piingbpramaan-2562-t-kh-61-k-y-62.xlsx")
data_61=pd.read_excel("/content/drive/MyDrive/BSC-dpdm23_flie/project/kh-muul-ubatiehtubnthaangphiess-piingbpramaan-2561-t-kh-60-k-y-61.xlsx")
data_60=pd.read_excel("/content/drive/MyDrive/BSC-dpdm23_flie/project/kh-muul-ubatiehtubnthaangphiess-piingbpramaan-2560-t-kh-59-k-y-60.xlsx")
data_59=pd.read_excel("/content/drive/MyDrive/BSC-dpdm23_flie/project/kh-muul-ubatiehtubnthaangphiess-piingbpramaan-2559-t-kh-58-k-y-59.xlsx")
data_more=pd.read_excel('/content/drive/MyDrive/BSC-dpdm23_flie/project/moredata.xlsx')

In [ ]:
data_65.isnull().any()

accident_date    False
accident_time    False
expw_step        False
weather_state    False
injur_man        False
injur_femel      False
dead_man         False
dead_femel       False
cause            False
dtype: bool

In [ ]:
data_64.isnull().any()

accident_date    False
accident_time    False
step             False
ad_state         False
acman_rec        False
acfem_rec        False
deadman_rec      False
deadfem_rec      False
cause_type       False
dtype: bool

In [ ]:
data_63.isnull().any()

accident_date    False
accident_time    False
expw_step        False
weather_state    False
injur_man        False
injur_femel      False
dead_man         False
dead_femel       False
cause            False
dtype: bool

In [ ]:
data_62.isnull().any()

accident_date    False
accident_time    False
expw_step        False
weather_state    False
injur_man        False
injur_femel      False
dead_man         False
dead_femel       False
cause            False
dtype: bool

In [ ]:
data_61.isnull().any()

accident_date    False
accident_time    False
expw_step        False
weather_state    False
injur_man        False
injur_femel      False
dead_man         False
dead_femel       False
cause            False
dtype: bool

In [ ]:
data_60.isnull().any()

accident_date    False
accident_time    False
expw_step        False
weather_state    False
injur_man        False
injur_femel      False
dead_man         False
dead_femel       False
cause            False
dtype: bool

In [ ]:
data_59.isnull().any()

accident_date    False
accident_time    False
expw_step        False
weather_state    False
injur_man        False
injur_femel      False
dead_man         False
dead_femel       False
cause            False
dtype: bool

## concat ครั้งที่1
พบว่ามีบ้าง ปีที่ชื่อ column ไม่ตรงกับตารางอื่นๆ

In [ ]:
pd.concat([data_59,data_60,data_61,data_62,data_63,data_64,data_65]).head()

,accident_date,accident_time,expw_step,weather_state,injur_man,injur_femel,dead_man,dead_femel,cause,step,ad_state,acman_rec,acfem_rec,deadman_rec,deadfem_rec,cause_type
0,2016-03-15,07:23:23,ศรีรัช,ปกติ,0.0,0.0,0.0,0.0,โรคประจำตัว,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-07-27,12:22:22,ศรีรัช,ปกติ,0.0,0.0,0.0,0.0,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-12-09,14:40:40,ศรีรัช,ปกติ,0.0,0.0,0.0,0.0,ทำโทรศัพย์หล่นแล้วก้มหยิบ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-08-20,17:01:01,ศรีรัช,ปกติ,0.0,0.0,0.0,0.0,ก้มหยิบเงิน,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-04-23,09:18:18,ศรีรัช,ปกติ,0.0,0.0,0.0,0.0,บรรทุกหนัก,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data_59.columns

Index(['accident_date', 'accident_time', 'expw_step', 'weather_state',
       'injur_man', 'injur_femel', 'dead_man', 'dead_femel', 'cause'],
      dtype='object')

In [ ]:
data_60.columns

Index(['accident_date', 'accident_time', 'expw_step', 'weather_state',
       'injur_man', 'injur_femel', 'dead_man', 'dead_femel', 'cause'],
      dtype='object')

In [ ]:
data_61.columns

Index(['accident_date', 'accident_time', 'expw_step', 'weather_state',
       'injur_man', 'injur_femel', 'dead_man', 'dead_femel', 'cause'],
      dtype='object')

In [ ]:
data_62.columns

Index(['accident_date', 'accident_time', 'expw_step', 'weather_state',
       'injur_man', 'injur_femel', 'dead_man', 'dead_femel', 'cause'],
      dtype='object')

In [ ]:
data_64.columns

Index(['accident_date', 'accident_time', 'step', 'ad_state', 'acman_rec',
       'acfem_rec', 'deadman_rec', 'deadfem_rec', 'cause_type'],
      dtype='object')

# ช่วงทำความสะอาด

## เเปลงหัว column ให้เหมือนกัน

In [ ]:
data_64=data_64.rename(columns = {'step':'expw_step','ad_state':'weather_state','acman_rec':'injur_man','acfem_rec':'injur_femel'
,'deadman_rec':'dead_man','deadfem_rec':'dead_femel','cause_type':'cause'})

In [ ]:
use_data=pd.concat([data_59,data_60,data_61,data_62,data_63,data_64,data_65]).reset_index().drop("index",axis=1)

In [ ]:
len(use_data)

6557

In [ ]:
use_data.to_excel('use_data.xlsx')

In [ ]:
use_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6557 entries, 0 to 6556
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   accident_date  6557 non-null   datetime64[ns]
 1   accident_time  6557 non-null   object
 2   expw_step      6557 non-null   object
 3   weather_state  6557 non-null   object
 4   injur_man      6557 non-null   int64
 5   injur_femel    6557 non-null   int64
 6   dead_man       6557 non-null   int64
 7   dead_femel     6557 non-null   int64
 8   cause          6557 non-null   object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 461.2+ KB

In [ ]:
type(use_data['accident_time'][0])

datetime.time

## เเปลงเวลาเป็นช่วงเวลา

In [ ]:
import datetime
def time_in_range(start, end, x):
    """Return true if x is in the range [start, end]"""
    if start <= end:
        return start <= x <= end
    else:
        return start <= x or x <= end

In [ ]:
#ยกตัวอย่าง
start = datetime.time(6, 1, 0)
end = datetime.time(12, 0, 0)
time_in_range(start, end, use_data['accident_time'][0])

True

In [ ]:
use_data['accident_time'][227]

datetime.time(12, 59, 59)

In [ ]:
time_lable=[]
how =[]
#เช้า
start_0 = datetime.time(6, 0, 0)
end_0 = datetime.time(12, 59, 59)
#บ่าย
start_1 = datetime.time(13, 0, 0)
end_1 = datetime.time(18, 59, 59)
#ดึก
start_2 = datetime.time(19, 0, 0)
end_2 = datetime.time(23, 59, 59)
#หลังเที่ยงคืน
start_3 = datetime.time(0, 0, 0)
end_3 = datetime.time(5, 59, 59)
for i in range(len(use_data['accident_time'])):
  if time_in_range(start_0, end_0, use_data['accident_time'][i]) == True:
    time_lable.append(0)
  elif time_in_range(start_1, end_1, use_data['accident_time'][i]) == True:
    time_lable.append(1)
  elif time_in_range(start_2, end_2, use_data['accident_time'][i]) == True:
    time_lable.append(2)
  elif time_in_range(start_3, end_3, use_data['accident_time'][i]) == True:
    time_lable.append(3)
  else:
    how.append(i)
how

[]

In [ ]:
use_data['time_lable']=time_lable

In [ ]:
use_data.head()

,accident_date,accident_time,expw_step,weather_state,injur_man,injur_femel,dead_man,dead_femel,cause,time_lable
0,2016-03-15,07:23:23,ศรีรัช,ปกติ,0,0,0,0,โรคประจำตัว,0
1,2016-07-27,12:22:22,ศรีรัช,ปกติ,0,0,0,0,-,0
2,2015-12-09,14:40:40,ศรีรัช,ปกติ,0,0,0,0,ทำโทรศัพย์หล่นแล้วก้มหยิบ,1
3,2016-08-20,17:01:01,ศรีรัช,ปกติ,0,0,0,0,ก้มหยิบเงิน,1
4,2016-04-23,09:18:18,ศรีรัช,ปกติ,0,0,0,0,บรรทุกหนัก,0

## เเยกวันเดือนปี

เเปลง strptime เป็น string

In [ ]:
cov_time_sti =use_data['accident_date'].apply(lambda x: x.strftime("%Y-%m-%d %H:%M:%S"))
cov_time_sti[0].split()[0].split('-')

['2016', '03', '15']

In [ ]:
day=[]
mon=[]
year=[]
for i in range(len(cov_time_sti)):
  L=cov_time_sti[i].split()[0].split('-')
  year.append(L[0])
  mon.append(L[1])
  day.append(L[2])

In [ ]:
print(f'count_row_day = {len(day)}')
print(f'count_row_mon = {len(mon)}')
print(f'count_row_yeat = {len(year)}')

count_row_day = 6557
count_row_mon = 6557
count_row_yeat = 6557

## เเปลงชื่อถนนเป็น ตัวเลข

In [ ]:
name_road=[]
for i in range(len(use_data['expw_step'])):
  if use_data['expw_step'][i] == 'ศรีรัช':
    name_road.append('0')
  elif use_data['expw_step'][i] == 'ฉลองรัช':
    name_road.append('1')
  elif use_data['expw_step'][i] == 'บูรพาวิถี':
    name_road.append('2')
  elif use_data['expw_step'][i] == 'อุดรรัถยา':
    name_road.append('3')
  elif use_data['expw_step'][i] == 'เฉลิมมหานคร':
    name_road.append('4')
  elif use_data['expw_step'][i] == 'บางพลี-สุขสวัสดิ์':
    name_road.append('5')
  elif use_data['expw_step'][i] == 'ทางหลวงพิเศษหมายเลข 37':
    name_road.append('6')
  elif use_data['expw_step'][i] == 'ศรีรัช-วงแหวนรอบนอก':
    name_road.append('7')
  elif use_data['expw_step'][i] == 'S1':
    name_road.append('8')

In [ ]:
len(name_road)

6557

## แปลงสถาพอากาศเป็นตัวเลข

In [ ]:
weather_road=[]
for i in range(len(use_data['weather_state'])):
  if use_data['weather_state'][i] == 'ปกติ':
    weather_road.append('0')
  elif (use_data['weather_state'][i] == 'ฝนตก') | (use_data['weather_state'][i] == 'ท้องฟ้ามืดครึ้ม') |(use_data['weather_state'][i] == 'ฝนตกลมแรง'):
    weather_road.append('1')
  elif use_data['weather_state'][i] == 'กลางคืน':
    weather_road.append('2')
  elif (use_data['weather_state'][i] == 'ถนนเปียกรื่น') |(use_data['weather_state'][i] == 'ถนนเปียกลื่น')|(use_data['weather_state'][i] == 'ถนนเปียก') :
    weather_road.append('3')
  else:
    print(i)

In [ ]:
len(weather_road)

6557

## เเปลงคนเจ็บเป็นตัวเลข

In [ ]:
injur =[]
for i in range(len(use_data['injur_man'])):
  if (use_data['injur_man'][i] == 0 ) and (use_data['injur_femel'][i] == 0):
    injur.append('0')
  elif (use_data['injur_man'][i] > 0) and (use_data['injur_femel'][i] == 0):
    injur.append('1')
  elif (use_data['injur_man'][i] == 0) and (use_data['injur_femel'][i] > 0):
    injur.append('2')
  elif (use_data['injur_man'][i] > 0) and (use_data['injur_femel'][i] > 0):
    injur.append('3')

In [ ]:
len(injur)

6557

In [ ]:
dead =[]
for i in range(len(use_data['dead_man'])):
  if (use_data['dead_man'][i] == 0 ) and (use_data['dead_femel'][i] == 0):
    dead.append('0')
  elif (use_data['dead_man'][i] > 0) or (use_data['dead_femel'][i] > 0):
    dead.append('1')

In [ ]:
len(dead)

6557

In [ ]:
data_more['cause_A'][1]

0

## เอาข้อมูลจัดกลุ่ม ที่พร้อมทำ association rulesเเละ

In [ ]:
new1=data_more[['cause_A','cause_D']].replace(0,np.nan)

In [ ]:
newk =[]
for i in range(len(new1['cause_D'])):
  if (new1['cause_D'][i] == 'เกิดจากตนเอง' ) :
    newk.append('0')
  elif (new1['cause_D'][i] == 'เกิดจากคนอื่น' ) :
    newk.append('1')
  elif (new1['cause_D'][i] == 'เกิดจากสภาพเเวดล้อมเเละรถ' ) :
    newk.append('2')
  else:
    newk.append(np.nan)

In [ ]:
data_association_rules=[]
for i in range(len(data_more['cause_A'])):
  x = new1['cause_A'][i]
  data_association_rules.append(x)

# สร้างตารางใหม่

In [ ]:
data_newear ={'day':day, 'month' : mon, 'year' : year, 'time':time_lable, 'road':name_road, 'weather':weather_road,'injur':injur,'cause_A':data_association_rules,'cause_D':newk,'dead':dead}
data_new = pd.DataFrame(data_newear)

In [ ]:
data_new=data_new.dropna()

In [ ]:
data_new.to_excel('use_data.xlsx')